<%- include('./header.ejs') %>

<form action="submit_registration" method="post">
  <section class="login-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-7 m-auto">
          <div class="login-form-box">
            <h2>Create new Account</h2>
            <% if(err_msg!=undefined){ %>
            <span class="error_validate flash_msg" style="color: red">
              <%= err_msg %>
            </span>
            <% }%>
            <% if(success_msg!=undefined){ %>
            <span class="error_validate flash_msg" style="color: #71D840">
              <%= success_msg %>
            </span>
            <% }%>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Full Name"
                    onkeypress="return alphabetsOnly()"
                    onblur="validateName(this.value)"
                    required
                  />
                  <p id="error-name" class="client-side-err-msg" style="display: none;font-size: smaller;color: rgb(187, 18, 18);"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email Address</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="johndoe@mail.com"
                    onblur="validateEmail(this.value)"
                    required
                  />
                  <p id="error-email" class="client-side-err-msg" style="display: none;font-size: smaller;color: rgb(187, 18, 18);"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="*********"
                    autocomplete="off"
                    id="password-field"
                    onblur="validatePassword(this.value)"
                    required
                  />
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                  <p id="error-password" class="client-side-err-msg" style="display: none;font-size: smaller;color: rgb(187, 18, 18);"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input
                    type="password"
                    name="conf_pass"
                    class="form-control"
                    placeholder="*********"
                    autocomplete="off"
                    id="cnf-password-field"
                    onblur="validateCnfPassword(this.value)"
                    required
                  />
                  <span
                    toggle="#cnf-password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                  <p id="error-cnf-password" class="client-side-err-msg" style="display: none;font-size: smaller;color: rgb(187, 18, 18);"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mobile Number</label>
                  <div class="input-group">
                    <input
                      type="text"
                      name="countryCode"
                      value="+91"
                      class="form-control country-select"
                      disabled
                    />
                    <input
                      type="text"
                      name="mobNo"
                      class="form-control"
                      placeholder="Mobile number"
                      onkeypress="return numOnly(this.value)" 
                      onblur="validateMobile(this.value)"
                      required
                    />
                    <p id="error-mobile" class="client-side-err-msg" style="display: none;font-size: smaller;color: rgb(187, 18, 18);"></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Role</label>
                  <select
                    name="userRole"
                    id="userRole"
                    class="form-control role-select"
                    onchange="doctorExtraInfo(this)"
                    onsubmit="validateRole(this.value)"
                    required
                  >
                    <div id="userrole-content">
                      <option value="#" selected="selected" hidden>Role</option>
                      <option value="doctor">Doctor</option>
                      <option value="patient">Patient</option>
                    </div>
                  </select>
                  <p id="error-role" class="client-side-err-msg" style="display: none;font-size: smaller;color: rgb(187, 18, 18);"></p>
                </div>
              </div>
            </div>

            <div class="row" id="doctor-extra-fields">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Licence Number</label>
                  <input
                    type="text"
                    name="lN"
                    class="form-control"
                    placeholder="License number"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Specialisation</label>
                  <input
                    type="text"
                    name="specialisation"
                    class="form-control"
                    placeholder="e.g. ENT, Orthopaedic..."
                    required
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <input class="common-btn" type="submit" value="SignUp" />
            </div>
            <div>
              <p>Already have an account? <a href="/login">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
<script src="assets/js/signup.js" type="text/javascript"></script>
<script>
  $(".toggle-password").click(function () {
    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });

  //Hide flash message after 10 seconds
  setTimeout(function() {
    $('.flash_msg').fadeOut('fast');
  }, 5000);
  $(document).ready(function () {
    $("input").blur(function(){
      setTimeout(function() {
        $('.client-side-err-msg').fadeOut('fast');
      }, 4000);
    });
  })
</script>

<%- include('./footer.ejs') %>
