            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    //Hide flash message after 3.5 seconds
    setTimeout(function() {
        $('.flash_msg').fadeOut('fast');
    }, 3500);
</script>
<!--   <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
</script>
<script>
    $(function() {
    //caches a jQuery object containing the header element
        var header = $(".header-dash");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 50) {
            document.getElementById("dashboardLogoImage").src="/assets/images/HMARS-logo-dashboard2.jpg";
            header.addClass("darkHeader");
            } else {
            document.getElementById("dashboardLogoImage").src="/assets/images/HMARS-logo-dashboard.jpg";
            header.removeClass("darkHeader");
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>	   
